.header li {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

body{
  background-image: url(https://thumbs.dreamstime.com/b/apple-tree-blossom-branches-falling-petals-flower-isolated-white-background-38341600.jpg);
}
